<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title><ui:insert name="titulo"/></title>
         <h:outputStylesheet library="css"  name="estilos.css"/>
    </h:head>
    <h:body>
        <div id="encabezado">
            <ui:insert name="#{msjs.encabezado}">
                <ui:include src="secciones/cueva/header.xhtml"/>
            </ui:insert>           
        </div>
        <div id="lado">
            <ui:insert name="lado">
                <ui:include src="secciones/cueva/ladoIzd.xhtml"/>
            </ui:insert>           
        </div>
        <div id="contenido">
            <ui:insert name="contenido"/>          
        </div>
    </h:body>
</html>

