<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>#{msjs.tituloIntruso}</title>
    </h:head>
    <h:body>
        <ui:composition template="templates/master.xhtml">
            <ui:define name="titulo">
                #{msjs.tituloIntruso}
            </ui:define>
            <ui:define name="encabezado">
                <ui:include src="secciones/cueva/header.xhtml"/>
            </ui:define>
            <ui:define name="lado">
                <ui:include src="secciones/cueva/ladoIzd.xhtml"/>
            </ui:define>
            <ui:define name="contenido">
                <div align="center" class="panelcentro">
             
                    <h:graphicImage library="img" name="intruso.png"/>
                    <br/>
                    <p align="center">
                      
                        <em>#{msjs.mensajeIntruso} <h:graphicImage name="img/intrusoL.png" class="imgIntruso"/>
                        #{msjs.mensajeIntruso2} #{cuate.user} !!! 
                        <br/><b>#{msjs.mensajeIntrusoNota}</b> #{msjs.mensajeIntrusoSeguridad}
                       </em>
                    </p>
                    <h:graphicImage library="img" name="ladron.gif"/>
                    <hr/>
                </div>                
            </ui:define>
        </ui:composition>
    </h:body>
</html>

